{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Fira+Sans:300i,500i|Indie+Flower|Roboto+Slab:700|Roboto:300,700|Lato:700|Raleway:600|Source+Sans+Pro:600|Montserrat:400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">


    <nav class="navbar navbar-default navbar-fixed-top" style="border: 0px solid transparent;;background: white">
        <div id="black-box2" class="black-block" style="margin-bottom: -10px"></div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a style="text-decoration: none" href="{{ path("car_index") }}">
                    <div class="nav-logo">
                        <img id="light" class="navbar-logo" src="{{ asset('images/lb5.jpg') }}">
                        <img id="board" class="navbar-logo2" src="{{ asset('images/lb4.jpg') }}">
                    </div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-6"></div>
            <div style="padding-left: 4em" class="collapse navbar-collapse col-md-4" id="bs-example-navbar-collapse-1">
                <ul style="height: 10px" class="nav navbar-nav">
                    {% if 'ROLE_USER' in user_roles%}
                        <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="{{ path("order_skate") }}">Orders</a></li>
                    {% endif %}
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="{{ path("shop_page") }}">Shop</a></li>
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="#">About</a></li>
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black"  href="#">Contact</a></li>
                    {% if 'ROLE_USER' in user_roles%}
                        <li class="no-hover" style="position: absolute; margin-left: 100%">
                            <div style="padding-top:15px;margin-right: -15px;float: right;">
                                <a style="text-decoration: none;font-weight: 700;color: black;">{{app.user.username}}</a>
                            </div>
                        </li>
                        <div class="vertical-line" style="height: 55px; width: 1px;position: absolute;margin-left: 131.5%"></div>
                        <li class="no-hover2" style="position: absolute; margin-left: 130%">
                            <a style="font-weight: 700;color: black;" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div style="position: fixed" class="col-md-12">
        <div class="line-column" style="margin-left: -400px;position: fixed">
            <div class="lines-height"></div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0"></line>
                </svg>
            </div>

            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
        </div>
        <div class="line-column" style="margin-left: 0px;position: fixed">
            <div class="lines-height"></div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0"></line>
                </svg>
            </div>

            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
        </div>
        <div class="line-column" style="margin-left: 400px;position: fixed">
            <div class="lines-height"></div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0"></line>
                </svg>
            </div>

            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="420" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
        </div>
        <div class="line-column" style="margin-left: 800px;position: fixed">
            <div class="lines-height"></div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0"></line>
                </svg>
            </div>

            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
        </div>
        <div class="line-column" style="margin-left: 1200px;position: fixed">
            <div class="lines-height"></div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0"></line>
                </svg>
            </div>

            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
        </div>
        <div class="line-column" style="margin-left: 1600px;position: fixed">
            <div class="lines-height"></div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0"></line>
                </svg>
            </div>

            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
        </div>
        <div class="line-column" style="margin-left: 2000px;position: fixed">
            <div class="lines-height"></div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0"></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
            <div class="line-space">
                <svg style="position: fixed;float: left" height="210" width="500">
                    <line class="line-svg" x1="0" y1="50" x2="50" y2="0" ></line>
                </svg>
            </div>
        </div>
    </div>


        <div style="position: relative; max-height: 100%; max-width: 100%">
            {% if error %}
                <div class="flash-notice">
                    <center>  <div style="width: 400px" class="alert alert-danger fade in">
                            <strong>Invalid Username/Password</strong>
                        </div></center>
                </div>
            {% endif %}

            <div class="col-md-2"></div>

            <div class="col-md-8" style="z-index: 3;height: 380px;text-align: center;margin-top:110px;background: white;border-radius: 6px">
                <div id="title" style="padding-top: 40px;text-align: center">
                    <span style="color: #000000;text-align: center;font-size: 60px;font-family: 'Nexa_Free_Bold', Fallback, sans-serif">Embrace your riding experience</span>
                </div>
                <div style="margin-top: -3px;text-align: center">
                    <svg style="height: 10px;width: 77%">
                        <path id="line" d=" M 0 0 H 0 916"  stroke="black" stroke-width="6"></path>
                    </svg>
                </div>
                <div style="margin-top: 40px;overflow: hidden;height: 140px">
                    <img id="image" style="margin-right: -95px" src="http://i.imgur.com/kglMUf8.jpg">
                    <img id="image2" style="margin-left: 95px" src="http://i.imgur.com/K6RYcZf.jpg">
                </div>

            </div>

    </div>


<script>

    setTimeout(function () {
        $( ".flash-notice" ).fadeOut();
    }, 2850);


    slideTimer = setTimeout(function() {
        var elm = $("#div1");
       console.log(elm);
        elm.animate({
            top:"0px"

        }, 1500);
    }, 300);

</script>
    <script src="{{ asset('js/homepage.js') }}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>

    <script src="{{ asset('js/main.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    <style>
       body { background: #F5F5F5; font: 20px/1.5 sans-serif; }
       a {text-decoration: none}
       h1, h2, h6 { line-height: 1.2; margin: 0 0 .0em; }
        h1 { font-size: 20px; }
        h2 { font-size: 21px; margin-bottom: 1em; }

        p { margin: 0 0 1em 0; }
        a { color: #000000; }
        a:hover { text-decoration: none; }
       code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 500px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 568px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}


