{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %}Add new product{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/vendor/Croppie/croppie.css') }}" />
    <link href="{{ asset('assets/vendor/lightbox2/dist/css/lightbox.css') }}" rel="stylesheet">
    <script src="{{ asset('assets/vendor/Croppie/croppie.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Josefin+Slab:600|Montserrat:400|PT+Sans|Raleway:500,600|Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <nav class="navbar navbar-default navbar-fixed-top" style="background: white">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a style="text-decoration: none" href="{{ path("car_index") }}">
                    <div class="nav-logo">
                        <img id="light" class="navbar-logo" src="{{ asset('images/lb5.jpg') }}">
                        <img id="board" class="navbar-logo2" src="{{ asset('images/lb4.jpg') }}">
                    </div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-6"></div>
            <div style="padding-left: 10em" class="collapse navbar-collapse col-md-4" id="bs-example-navbar-collapse-1">
                <ul style="height: 10px" class="nav navbar-nav">
                    {% if 'ROLE_USER' in user_roles%}
                        <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="{{ path("order_skate") }}">Orders</a></li>
                    {% endif %}
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="{{ path("shop_page") }}">Shop</a></li>
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black"  href="{{ path("constact_skate") }}">Contact</a></li>
                    {% if 'ROLE_USER' in user_roles%}
                        <li class="no-hover" style="position: absolute; margin-left: 100%">
                            <div style="padding-top:15px;margin-right: -15px;float: right;">
                                <a style="text-decoration: none;font-weight: 700;color: black;">{{app.user.username}}</a>
                            </div>
                        </li>
                        <div class="vertical-line" style="height: 55px; width: 1px;position: absolute;margin-left: 131.5%"></div>
                        <li class="no-hover2" style="position: absolute; margin-left: 130%">
                            <a style="font-weight: 700;color: black;" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div style="margin-left: 28.5%;position: absolute;width: 800px;height: 500px;border-radius: 3px;margin-top: 5%;z-index: 3;text-align: center;background: white">
        <div style="padding-top: 30px;padding-right:50px;padding-left: 50px">
           <span style="font-family: 'Josefin Slab', serif;font-size: 30px">
               Say hello!
           </span>
            <p style="margin-top: 20px;font-family: 'Raleway', sans-serif;font-size: 15px">
                We would love to hear from you. We are constantly trying to make better skating gear, and for that, your thoughts are essential.
                So if you have any ups or downs, or perhaps some genius ideas you would like to share with us, please let us know!
            </p>
            <p style="margin-top: 20px;font-family: 'Raleway', sans-serif;font-size: 17px;font-weight: 600">
                We always strive to answer requests right away, but sometimes we might need a few days to get back to you.
            </p>
            <hr style="margin-top: 50px" class="horizontal-line2">
            <p style="margin-top: 30px;font-family: 'Slabo 27px', serif;font-size: 23px;font-weight: 400">
                CUSTOMER CARE, SPONSORSHIP AND SALES INQUIRIES
            </p>
            <p style="margin-top: 30px;font-family: 'Roboto Condensed', sans-serif;font-size: 15px;text-decoration: underline">
                vza100@gmail.com
            </p>
            <p style="margin-top: -13px;font-family: 'Roboto Condensed', sans-serif;font-size: 15px">
               HQ - LightBoard
            </p>
            <p style="margin-top: -13px;font-family: 'Roboto Condensed', sans-serif;font-size: 15px">
                Gedimino avenue 2
            </p>
            <p style="margin-top: -13px;font-family: 'Roboto Condensed', sans-serif;font-size: 15px">
                14188 Vilnius
            </p>
            <p style="margin-top: -13px;font-family: 'Roboto Condensed', sans-serif;font-size: 15px">
                Lithuania
            </p>
        </div>
    </div>

    <div style="width: 92%;height: 90%" id="container"></div>





{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/editpage.js') }}"></script>
        <script src="{{ asset('js/previewimg.js') }}"></script>
    {% endblock %}
