{% extends 'base.html.twig' %}

{% block body %}

    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
    <link href="{{ asset('assets/vendor/lightbox2/dist/css/lightbox.css') }}" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:700|Lato:700|Source+Sans+Pro:600|Catamaran:300|Dosis:500" rel="stylesheet">

    <div id="black-box1" class="black-block" style="margin-top: -20px"></div>
    <nav class="navbar navbar-default navbar-fixed-top" style="border: 0px solid transparent;;background: white">
        <div id="black-box2" class="black-block" style="margin-bottom: -10px"></div>
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a style="text-decoration: none" href="{{ path("car_index") }}">
                    <div class="nav-logo">
                        <img id="light" class="navbar-logo" src="{{ asset('images/lb5.jpg') }}">
                        <img id="board" class="navbar-logo2" src="{{ asset('images/lb4.jpg') }}">
                    </div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-6"></div>
            <div style="padding-left: 4em" class="collapse navbar-collapse col-md-4" id="bs-example-navbar-collapse-1">
                <ul style="height: 10px" class="nav navbar-nav">
                    {% if 'ROLE_USER' in user_roles%}
                     <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="{{ path("order_skate") }}">Orders</a></li>
                    {% endif %}
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="{{ path("shop_page") }}">Shop</a></li>
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="#">About</a></li>
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black"  href="#">Contact</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>







            <div class="collumn-titles">
                <span style="text-align: center;margin-left: -1%">Not yet processed</span>
                <span style="text-align: center;margin-left: 35%">Already processed</span>
            </div>



        <div class="col-sm-1"></div>
        <form id="Order-form">
        <div class="row">
            <input style="display: none" name="page" id="currentpage">
            <input style="display: none" name="page2" id="currentpage2">
        <div style="margin-left: -50px;background: white;padding-top: 10px" class="col-sm-5">
            {% set myVal = 1 %} {# This value is for counting unique images for lightbox2#}

                <div class="order-filters">
                    <div style="display: inline" class="custom-select3">
                        <select class="select-filter" name="orderTime" id="ByTimeFilter" title="Price from" value="{{ orderTime }}">
                            <option value="Oldest">Oldest</option>
                            <option value="Newest">Newest</option>
                        </select>
                        <div style="display: inline; margin-left: 14px">
                            {% for p in pagefirst..pages %}
                                <button  name="page" value="{{ p }}" {%  if p == page %} id="page-{{ p }}" class="btn-page-active" {%  endif %} {% if p != page %} id="page-{{ p }}" class="btn-page" {% endif %}>{{ p }}</button>
                            {% endfor %}
                        </div>
                    </div>
                    <button style="float: right" class="button_test2" id="form-submit">Sumbit status</button>

                    <div style="display: inline; float: right;margin-right: 33px">
                        <label style="width: 0px" for="TextSearch"></label><input name="TextSearch" id="TextSearch">
                        <button  class="button_test3" id="form-submit2">Search</button>
                    </div>
                </div>
                <label class="customer-status">
                    <select name="status" style="display: none">
                        <option value="status"></option>
                    </select>
                </label>
               <hr class="horizontal-line" >
                {% for skateboard in skateboard %}
                        <div class="order-box1">
                            <div class="order-photo">
                                <div>
                                    <a data-lightbox="{{ skateboard.title }}{{ myVal }}" href="{{ skateboard.photos }}">
                                        <img id="order-image" class="order-image" src="{{ skateboard.photos }}">
                                    </a>
                                </div>
                            </div>
                            <div class="order-box2">
                               <div class="one-order-field">
                                <span class="customer-info1">First name:</span>
                                    <span class="customer-info2"> {{ skateboard.firstName }}</span>
                               </div>
                               <div class="one-order-field">
                                <span class="customer-info1">Last name:</span>
                                    <span class="customer-info2"> {{ skateboard.lastName }}</span>
                               </div>
                                <div class="one-order-field">
                                <span class="customer-info1">Address:</span>
                                    <span class="customer-info2"> {{ skateboard.address }}</span>
                                </div>
                                <div class="one-order-field">
                                <span class="customer-info1">City:</span>
                                    <span class="customer-info2"> {{ skateboard.city }}</span>
                                </div>
                                <div class="one-order-field">
                                <span class="customer-info1">Country:</span>
                                    <span class="customer-info2"> {{ skateboard.country }}</span>
                                </div>
                                <div class="one-order-field">
                                <span class="customer-info1">Postal code:</span>
                                    <span class="customer-info2"> {{ skateboard.postcode }}</span>
                                </div>
                                <div class="one-order-field">
                                <span class="customer-info1">Email:</span>
                                    <span class="customer-info2"> {{ skateboard.email }}</span>
                                </div>
                            </div>
                            <div style="width: 320px;float:right;" class="order-box2">
                                <div class="one-order-field2">
                                    <span class="customer-info1">Title:</span>
                                    <span class="customer-info2"> {{ skateboard.title }}</span>
                                </div>
                                <div class="one-order-field2">
                                    <span class="customer-info1">Category:</span>
                                    <span class="customer-info2"> {{ skateboard.category }}</span>
                                </div>
                                <div class="one-order-field2">
                                    <span class="customer-info1">Order date:</span>
                                    <span class="customer-info2"> {{ skateboard.date|date("Y-m-d G:i:s", "Europe/Vilnius") }}</span>
                                </div>
                                <div class="one-order-field2">
                                    <span class="customer-info1">Quantity:</span>
                                    <span class="customer-info2"> {{ skateboard.quantity }}</span>
                                </div>
                                <div class="one-order-field2">
                                    {% set price = skateboard.quantity * skateboard.price %}
                                    <span class="customer-info1">Total price:</span>
                                    <span class="customer-info2"> {{ price|number_format(2, '.', ',') }} €</span>
                                </div>
                                <div class="one-order-field2">
                                    <div style="display: inline" class="custom-select2">
                                    <span class="customer-info1">Status: </span>
                                        <label class="customer-status">
                                            <select class="select-filter" name="{{ skateboard.id }}">
                                                <option value="Not yet sent">Not yet sent</option>
                                                <option value="Sent">Send</option>
                                                <option value="Declined">Decline</option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% set myVal = myVal + 1 %}
                {% endfor %}

            </div>



            {# SECOND COLUMN HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}
            {# SECOND COLUMN HERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!#}

            <div style="background: white; margin-left: 75px;padding-top: 10px" class="col-sm-5">
                 {% set myVal2 = 10 %} {# This value is for counting unique images for lightbox2#}

                    <div class="order-filters">
                        <div style="display: inline" class="custom-select3">
                            <select class="select-filter" name="orderTime2" id="ByTimeFilter2" title="Price from2" value="{{ orderTime }}">
                                <option value="Newest">Newest</option>
                                <option value="Oldest">Oldest</option>
                            </select>
                            <div style="display: inline; margin-left: 14px">
                                {% for p2 in pagefirst2..pages2 %}
                                    <button id="page--{{ p2 }}"  name="page2" value="{{ p2 }}" {%  if p2 == page2 %} class="btn-page-active" {%  endif %} {% if p2 != page2 %} class="btn-page" {% endif %}>{{ p2 }}</button>
                                {% endfor %}
                            </div>
                        </div>

                        <div style="display: inline; float: right;margin-right: 33px">
                            <label style="width: 0px" for="TextSearch2"></label><input name="TextSearch2" id="TextSearch2">
                            <button  class="button_test3" id="form-submit3">Search</button>
                        </div>
                    </div>
                    <label class="customer-status">
                        <select name="status" style="display: none">
                            <option value="status"></option>
                        </select>
                    </label>
                    <hr class="horizontal-line" >
                    {% for skateboard2 in skateboard2 %}
                        <div class="order-box1">
                            <div class="order-photo">
                                <div>
                                    <a data-lightbox="{{ skateboard2.title }}{{ myVal2 }}" href="{{ skateboard2.photos }}">
                                        <img id="order-image" class="order-image" src="{{ skateboard2.photos }}">
                                    </a>
                                </div>
                            </div>
                            <div class="order-box2">
                                <div class="one-order-field">
                                    <span class="customer-info1">First name:</span>
                                    <span class="customer-info2"> {{ skateboard2.firstName }}</span>
                                </div>
                                <div class="one-order-field">
                                    <span class="customer-info1">Last name:</span>
                                    <span class="customer-info2"> {{ skateboard2.lastName }}</span>
                                </div>
                                <div class="one-order-field">
                                    <span class="customer-info1">Address:</span>
                                    <span class="customer-info2"> {{ skateboard2.address }}</span>
                                </div>
                                <div class="one-order-field">
                                    <span class="customer-info1">City:</span>
                                    <span class="customer-info2"> {{ skateboard2.city }}</span>
                                </div>
                                <div class="one-order-field">
                                    <span class="customer-info1">Country:</span>
                                    <span class="customer-info2"> {{ skateboard2.country }}</span>
                                </div>
                                <div class="one-order-field">
                                    <span class="customer-info1">Postal code:</span>
                                    <span class="customer-info2"> {{ skateboard2.postcode }}</span>
                                </div>
                                <div class="one-order-field">
                                    <span class="customer-info1">Email:</span>
                                    <span class="customer-info2"> {{ skateboard2.email }}</span>
                                </div>
                            </div>
                            <div style="width: 320px;float:right;" class="order-box2">
                                <div class="one-order-field2">
                                    <span class="customer-info1">Title:</span>
                                    <span class="customer-info2"> {{ skateboard2.title }}</span>
                                </div>
                                <div class="one-order-field2">
                                    <span class="customer-info1">Category:</span>
                                    <span class="customer-info2"> {{ skateboard2.category }}</span>
                                </div>
                                <div class="one-order-field2">
                                    <span class="customer-info1">Order date:</span>
                                    <span class="customer-info2"> {{ skateboard2.date|date("Y-m-d G:i:s", "Europe/Vilnius") }}</span>
                                </div>
                                <div class="one-order-field2">
                                    <span class="customer-info1">Process date:</span>
                                    <span class="customer-info2"> {{ skateboard2.processdate|date("Y-m-d G:i:s", "Europe/Vilnius") }}</span>
                                </div>
                                <div class="one-order-field2">
                                    <span class="customer-info1">Quantity:</span>
                                    <span class="customer-info2"> {{ skateboard2.quantity }}</span>
                                </div>
                                <div class="one-order-field2">
                                    {% set price2 = skateboard2.quantity * skateboard2.price %}
                                    <span class="customer-info1">Total price2:</span>
                                    <span class="customer-info2"> {{ price2|number_format(2, '.', ',') }} €</span>
                                </div>
                                <div class="one-order-field2">
                                    <div style="display: inline" class="custom-select2">
                                        <span class="customer-info1">Status: </span>

                                          <span {%  if skateboard2.delivery == 'Sent' %} class="customer-info3" {%  endif %} {% if skateboard2.delivery == 'Declined' %} class="customer-info4" {% endif %} class="customer-info2"> {{ skateboard2.delivery }}</span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% set myVal2 = myVal2 + 1 %}
                    {% endfor %}

            </div>
        </div>
        </form>

        {% if error %}
            <div class="flash-notice">
                <center>  <div style="width: 400px" class="alert alert-danger fade in">
                        <strong>Invalid Username/Password</strong>
                    </div></center>
            </div>
        {% endif %}







    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="{{ asset('js/order.js') }}"></script>
    <script src="{{ asset('assets/vendor/lightbox2/dist/js/lightbox.js') }}"></script>

    <script>
        {% if currentpage is not null %}
        $('#currentpage').val('{{ currentpage }}');
        {% endif %}


        {% if currentpage2 is not null %}
        $('#currentpage2').val('{{ currentpage2 }}');
        {% endif %}

        {% if orderTime is not null %}
        $('#ByTimeFilter').val('{{ orderTime }}');
        {% endif %}

        {% if orderTime2 is not null %}
        $('#ByTimeFilter2').val('{{ orderTime2 }}');
        {% endif %}

        {% if TextSearch is not null %}
        $('#TextSearch').val('{{ TextSearch }}');
        {% endif %}

        {% if TextSearch2 is not null %}
        $('#TextSearch2').val('{{ TextSearch2 }}');
        {% endif %}

        $('#ByTimeFilter').change(function () {
            document.getElementById("Order-form").submit();
        });

        $('#ByTimeFilter2').change(function () {
            document.getElementById("Order-form").submit();
        });

        $('#form-submit').click(function(){
            document.getElementById("Order-form").submit();
        });

        $('#form-submit2').click(function(){
            document.getElementById("Order-form").submit();
        });
        $('#form-submit3').click(function(){
            document.getElementById("Order-form").submit();
        });

        lightbox.option({
            'maxWidth': 654,
            'maxHeight': 651

        })
    </script>
{% endblock %}



{% block stylesheets %}
    <style>
       body { background: #F5F5F5; font: 20px/1.5 sans-serif; }
       a {text-decoration: none}
       h1, h2, h6 { line-height: 1.2; margin: 0 0 .0em; }
        h1 { font-size: 20px; }
        h2 { font-size: 21px; margin-bottom: 1em; }

        p { margin: 0 0 1em 0; }
        a { color: #000000; }
        a:hover { text-decoration: none; }
       code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 500px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 568px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}


