{% extends 'base.html.twig' %}

{% block body %}
    <title>{% block title %}Edit{% endblock %}</title>
<link rel="stylesheet" href="{{ asset('assets/vendor/Croppie/croppie.css') }}" />
<link href="{{ asset('assets/vendor/lightbox2/dist/css/lightbox.css') }}" rel="stylesheet">
<script src="{{ asset('assets/vendor/Croppie/croppie.js') }}"></script>
<link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:600|Montserrat:400|PT+Sans" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <nav class="navbar navbar-default navbar-fixed-top" style="background: white">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a style="text-decoration: none" href="{{ path("car_index") }}">
                    <div class="nav-logo">
                        <img id="light" class="navbar-logo" src="{{ asset('images/lb5.jpg') }}">
                        <img id="board" class="navbar-logo2" src="{{ asset('images/lb4.jpg') }}">
                    </div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-6"></div>
            <div style="padding-left: 4em" class="collapse navbar-collapse col-md-4" id="bs-example-navbar-collapse-1">
                <ul style="height: 10px" class="nav navbar-nav">
                    {% if 'ROLE_USER' in user_roles%}
                        <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="{{ path("order_skate") }}">Orders</a></li>
                    {% endif %}
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="{{ path("shop_page") }}">Shop</a></li>
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black" href="#">About</a></li>
                    <li style="height: 55px"><a style="height: 55px;font-family: 'Source Sans Pro', sans-serif; font-size: 15px;color: black"  href="#">Contact</a></li>
                    {% if 'ROLE_USER' in user_roles%}
                        <li class="no-hover" style="position: absolute; margin-left: 100%">
                            <div style="padding-top:15px;margin-right: -15px;float: right;">
                                <a style="text-decoration: none;font-weight: 700;color: black;">{{app.user.username}}</a>
                            </div>
                        </li>
                        <div class="vertical-line" style="height: 55px; width: 1px;position: absolute;margin-left: 131.5%"></div>
                        <li class="no-hover2" style="position: absolute; margin-left: 130%">
                            <a style="font-weight: 700;color: black;" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div  class="col-md-4"></div>
    <div style="border-radius: 3px;background: white;padding-top: 40px" class="col-md-4 product-block">

        <div style="margin-left: -50px">{{  form_start(forma)   }}</div>

        <div style="margin-bottom: 30px;text-align: center">
            <span class="form-title"> PRODUCT EDIT</span>
        </div>
        <div class="product-input"><span class="product-input2">Title: </span></div> <div class="product-input3">{{  form_row(forma.title,{ 'attr': {'class': 'form-control'}})  }}</div>
        <br>
        <div class="product-input"><span class="product-input2">Category: </span></div> <div class="product-input3">{{  form_row(forma.category)  }}</div>
        <br>
        <div style="display: inline;height: 10%">
            <div class="product-input"><span class="product-input2">Price: </span></div><div class="product-input3">{{  form_widget(forma.price,{ 'attr': {'class': 'form-control'}})  }}</div>
            <div style="display: inline;margin-bottom: 15px;font-size: 25px;vertical-align: top;">€</div>
        </div>
        <br>

        <div class="product-input"><span class="product-input2">Description: </span></div><div class="product-input3">{{  form_row(forma.description,{ 'attr': {'class': 'form-control'}})  }}</div>
        <br>
        <br>
        <div  style="height: 400px;text-align: center">

            <div>
                <button class="button_test" style="margin-top: 10px; margin-bottom: 10px" type="button" id="change"> Change photo?</button>
            </div>

            <a data-lightbox="{{ product.photos[0].url }}" href="{{ product.photos[0].url }}">
                <img id="change-img" class="product-img"  style="margin-top: 20px;width: 230px;height: 300px" src="{{ product.photos[0].url }}">
            </a>


            <div style="display: none" id="croppie-block" class="panel-body">
                <div class="product-input"><span style="width: 150px;margin-left: -10px;margin-bottom: 20px" class="product-input2">Select photo: </span></div> <div style="margin-right: 19%" class="product-input3">{{  form_widget(forma.img, {'id' : 'imgInp'})  }}</div>
                <br>
                <div>
                    <div class="image_object" id="upload-demo" style="width:350px;margin-left: 19%"></div>
                </div>
            </div>


        </div>


        <div>
            <br>
            <div style="text-align: center;margin-bottom: 20px;margin-top: 20px">
                {{  form_widget(forma.save,{ 'attr': {'class': 'button_test4'},'id' : 'submit'})   }}
            </div>

            {{  form_end(forma)  }}
        </div>
    </div>



    <script type="text/javascript">
        var $uploadCrop = $('#upload-demo');

        $uploadCrop.croppie({
            enforceBoundary:false,
            enableExif: true,
            viewport: {
                width: 230,
                height: 300,
                type: 'square'
            },
            boundary: {
                width: 325,
                height: 325
            }
        });

        $('#submit').click(function(){


            $uploadCrop.croppie('result', {type:'base64'}).then(function(res) {
                console.log('asd');
                var res1 = res.replace(/^data:image\/(png|jpg);base64,/, "");
                var randomStr = '{{ randomStr }}';
                $.ajax({
                    type: "POST",
                    url : '{{ path('crop2_image') }}',
                    data : JSON.stringify({
                        randomStr: randomStr,
                        image: res1
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType : 'json'
                });
            });
        });
    </script>
    <script src="{{ asset('assets/vendor/lightbox2/dist/js/lightbox.js') }}"></script>
    <script>
        $("change").submit(function(){
            return false;
        });

        lightbox.option({
            'maxWidth': 654,
            'maxHeight': 651

        })
    </script>

{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/editpage.js') }}"></script>
        <script src="{{ asset('js/previewimg.js') }}"></script>
    {% endblock %}
